body
{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header
{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier;
    color: red;
    background: white;
}
.header p
{
    font-family: sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
button
{
    margin-top: 20px;
    width: 350px;
    font-weight: bolder;
    letter-spacing: 3px;
}